.index {
  position: relative;

  height: 100%;
  min-height: 100%;

  background-color: $primary-color;

  .lang-switch {
    transform: translate(2.5vw) rotate(90deg);
    display: block;
    font-size: 12vw;
    line-height: 1;
    padding-left: 6vw;
    color: $not-jet;
    // text-decoration: underline;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 99;

    @include breakpoint(440) {
      font-size: 5vw;
    }


    &:hover {
      color: $red;
      text-shadow: $blue -4px -4px;
    }
  }


  .title {
    @include vertical-center;
    width: 100%;
    min-width: 100%;

  }

  h1 {
    color: $white;

    &.work-hard {
      text-align: left;
      font-size: 7vw;
      text-shadow: $blue -1vw -1vw;
    }

    &.play-hard {
      text-align: right;
      font-size: 7vw;
      text-shadow: $green -1vw -1vw;

      @include breakpoint(medium) {
        font-size: 8vw;
      }
    }

  }

  h2.place {
    @include horizontal-center;
    bottom: 0 !important;
    // padding-bottom: 27vw;
    font-size: 6vw;
    // text-shadow: $white -0.5vw -0.5vw;
    color: $red;

    @include breakpoint(440) {
      font-size: 3vw;
    }
  }
}


// .index .title {
//   @include absolute-center;
//   font-size: 5vw;

//   text-align: center;
// }

// .index .address {
//   font-size: 4vw;
//   // @include absolute-center;
//   // padding-top: 18vw;
// }

// section.contact-email {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   // margin-right: rem-calc(20px);
//   z-index: 99;

//   a {
//     text-transform: none;
//   //   color: blue;

//   //   &:hover {
//   //     color: pink;
//   //   }

//   //   @include breakpoint(medium) {
//   //     color: black;
//   //   }
//   }
// }
