---
title: WORK HARD! PLAY HARD!
---
header.index-2016
  a.lang-switch href="/ru/2016/"
    | Ru

  h2.place
    | Minsk&nbsp;18&mdash;24&nbsp;July

  .title
    h1.work-hard
      | WORK&nbsp;HARD!
    h1.play-hard
      | PLAY&nbsp;HARD!

section.index-2016.description
  p
   | Today the imperative WORK HARD! both comes from the state discipline and is reproduced within neoliberal subjectivity of a cultural worker. Us, always tired and exhausted, take pills, trying to look satisfied and happy. At the same time WORK HARD mirrors PLAY HARD as the part of hedonistic culture of late capitalism. Our fragmented and exhausting working time echoes the nights of exhausting rest, irresistible laziness and idleness. At the same time, transformations in the structure of labour, the unemployment, new conditions of laws and codex relate not just to the cultural sphere, but also to the workers of immaterial and material labour from other spheres: IT, engineers, etc. Today the situation of ‘cultural worker’ could be easily transferred to other activities, where requirements of creativity, flexibility and precarity are imposed as well. We would love to open up the framework of our competences and try to mark a wider structure of WORK HARD! PLAY HARD!
  p
    | During this week in July we would like to discuss in various artistic and research regimes the issues, which revolve around the conjugation of labour and rest, work and laziness, exhaustion and acceleration, focusing on the change in the structure of leisure: fun, rest, laziness, inoccupation and idleness.
  p
    | Working group:
  p
    | OAO AZARENNE (Aleksei Borisionok, Olia Sosnovskaya), a mobile and temporary platform for performative practices, seminars and discotheques.
  p
    a href="http://eeefff.org" target="blank"
      | eeefff
    | &nbsp;(Dzina Zhuk, Nicola Spesivtsev) explores technology’s impact on a human and experiments with creating alternative models of future.

section.index-2016.schedule
  include en/2016/shared/_schedule.html
