<header class="index">
    <h2 class="place">
      Минск&nbsp;18&mdash;24&nbsp;июля
    </h2>

    <div class="title">
      <h1 class="work-hard">
        РАБОТАЙ&nbsp;БОЛЬШЕ!
      </h1>

      <h1 class="play-hard">
        ОТДЫХАЙ&nbsp;БОЛЬШЕ!
      </h1>
    </div>

    <!-- <h2 class="address">
         <span>ул.&nbsp;Правды,&nbsp;д.&nbsp;24,&nbsp;стр.&nbsp;7</span>
         </h2> -->

  <!-- <section class="contact-email">
       <span>
       <a href="mailto:dkdelaisam.a@gmail.com">
       dkdelaisam.a@gmail.com
       </a>
       </span>
       </section> -->
</header>

<section class="schedule">
  $partial("templates/schedule.html")$
</section>
