<header>
  <h1>
    Расписание
  </h1>
  <ul class="menu">
    <li>
      <a href="#mon">Пн</a>
    </li>
    <li>
      <a href="#tue">Вт</a>
    </li>
    <li>
      <a href="#wed">Ср</a>
    </li>
    <li>
      <a href="#thu">Чт</a>
    </li>
    <li>
      <a href="#fri">Пт</a>
    </li>
    <li>
      <a href="#sat">Сб</a>
    </li>
    <li>
      <a href="#sun">Вс</a>
    </li>
  </ul>

  <ul class="menu second-line">
    <li>
      <a href="#all-days">Всю&nbsp;неделю</a>
    </li>
    <li>
      <a href="#important">Важно</a>
    </li>
  </ul>
</header>

<section class="day">
  <a name="mon"></a>
  <header>
    <h3 class="name-of-day">
      ПОНЕДЕЛЬНИК
    </h3>
    <h3 class="date">
      18.07
    </h3>
  </header>

  <article>
    <p class="time">
      15:00
    </p>
    <p class="name">
      Институциональная медитация для групп
    </p>
    <p class="descr">
      Бюро (ул. Фабрициуса, 4)
    </p>
    <p class="long-descr">
      Первая дискуссия о роли институций в режимах труда и отдыха. Практика «Институциональной медитации для групп» была разработана группой художников_ц на Inverse Institution Workshop 2013. Проводит Алексей Борисёнок.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      17:00
    </p>
    <p class="name">
      Марийка Семененко, Александр Новиков. Пикник у подъезда
    </p>
    <p class="descr">
      Старт: Бюро (ул. Фабрициуса, 4)
    </p>
    <p class="long-descr">
      Пикник в транзитном месте – около подъезда многоэтажного дома, вместе с разговором о городской структуре Минска.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      20:00
    </p>
    <p class="name">
      Концерт. ТЕХНО-ПОЭЗИЯ, Masque Noir; TBA
    </p>
    <p class="descr">
      Бюро (ул. Фабрициуса, 4) / вход - 7 р.
      <br/>
      https://www.facebook.com/events/304077939925142/
    </p>
  </article>
</section>


<!--


     day 2


   -->

<section class="day">
  <a name="tue"></a>
  <header>
    <h3 class="name-of-day">
      ВТОРНИК
    </h3>
    <h3 class="date">
      19.07
    </h3>
  </header>

  <article>
    <p class="time">
      12:00
    </p>
    <p class="name">
      Алиса Олева. Я покажу тебе Минск: one-­to­-one performance
    </p>
    <p class="long-descr">
      «Сегодня тебе не надо ничего решать и даже не надо никуда смотреть. Я проведу тебя по твоему городу с завязанными глазами. Просто приди в назначенное время на место встречи, закрой глаза и дождись меня.»
    </p>

  </article>

  <hr>

  <article>
    <p class="time">
      14:00
    </p>
    <p class="name">
      Группировка eeefff. Экскурсия в Wargaming / первая группа
    </p>
    <p class="descr">
      Партизанский просп. 178/2, Минск / Участие по записи: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
    <p class="long-descr">
      Все, кто хочет, попасть в сердце беларуской ИТ-индустрии – приглашаем на экскурсию в Wargaming, логово программистов_ок и разработчиков_ц, куда стремится попасть на работу и таксист_ка, и дворник_ца. Нашему взору представится 16-этажное офисное здание, по закоулкам которого нас проведет профессиональный гид. Набираются две группы по 10-12 человек! Продолжительность: 1 час.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15:00
    </p>
    <p class="name">
      Группировка eeefff. Экскурсия в Wargaming / вторая группа
    </p>
    <p class="descr">
      Партизанский просп. 178/2, Минск / Участие по записи: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      17:00
    </p>
    <p class="name">
      Михаил Гулин. Перформанс «Национальные признаки»
    </p>
    <p class="descr">
      Бюро (ул. Фабрициуса, 4)
    </p>
    <p class="long-descr">
      Перформанс Михаила Гулина «Национальные признаки» раскрывает пространство белорусской повседневности между национализмом и неприятием гос. символов с одной стороны, и верностью советской символической и идеологической традиции, с другой.

    </p>
  </article>

  <hr>

  <article class="long">
    <p class="time">
      17:00&nbsp;&mdash; 21:00
    </p>
    <p class="name">
      Василиса Полянина-Календа. Инсталляция
    </p>
    <p class="descr">
      Бюро (ул. Фабрициуса, 4)
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      19:00
    </p>
    <p class="name">
      Роман Осьминкин. Лекция-перформанс «Поэзия и труд - друг друга перетрут». Изменение роли поэзии в зависимости от производственных отношений эпохи.
    </p>
    <p class="descr">
      Бюро (ул. Фабрициуса, 4)
    </p>
  </article>
</section>


<!--

     day 3

   -->


<section class="day">
  <a name="wed"></a>
  <header>
    <h3 class="name-of-day">
      СРЕДА
    </h3>
    <h3 class="date">
      20.07
    </h3>
  </header>

  <article>
    <p class="time">
      13:00
    </p>
    <p class="name">
      Читальная группа по Манифестам о труде и лени
    </p>
    <p class="descr">
      Бюро (ул. Фабрициуса, 4)
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15:00
    </p>

    <p class="name">
      Ник Дегтярев, Надя Дегтярева. Практикум распределенной поддержки. &lt;труд как безусловная деятельность, безусловный достаток как травма&gt;
    </p>
    <p class="descr">
      Бюро (ул. Фабрициуса, 4)
    </p>
    <p class="long-descr">
      Учитывая ответственность и тотальность введения внутри экономик национальных государств безусловного дохода для граждан, необходима как предварительная работа, которая бы способствовала адаптации сознания к новым условиям, так и работа внутри новых функционирующих экономических связей. Нужно научиться воспринимать доход, страх и провал безусловно. Для подобной распределенной и безусловной взаимопомощи и создается практикум.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15:00
    </p>
    <p class="name">
       Алиса Олева. я покажу тебе Минск: one-­to­-one performance
    </p>
    <p class="long-descr">
      «Сегодня тебе не надо ничего решать и даже не надо никуда смотреть. Я проведу тебя по твоему городу с завязанными глазами. Просто приди в назначенное время на место встречи, закрой глаза и дождись меня.»
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      18:00
    </p>
    <p class="name">
      Vox Studio. Воркшоп-прогулка «Визуальные и городские исследования»
    </p>
    <p class="descr">
      Старт: Бюро (ул. Фабрициуса, 4) / Участие по записи: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
    <p class="long-descr">
      В ходе воркшопа группа участников и участниц будет исследовать, картографировать и документировать урбанистическое искусство, найденные объекты и стрит-арт, используя метод психогеографии.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      19.00
    </p>
    <p class="name">
      «Виржиль&nbsp;спит», реж.&nbsp;Жан&nbsp;Себан, 2013, 30&nbsp;мин.
      <br/>
      Видеопоказ&nbsp;+&nbsp;презентация
    </p>
    <p class="descr">
      Бюро (ул.&nbsp;Фабрициуса,&nbsp;4)
    </p>
    <p class="long-descr">
      Французский художник Виржиль Новарина более 20 лет исследует сон. За это время он разработал свою технику микро-пробуждений, в течение которых создает записи и рисунки. Фильм Жана Себана фиксирует пятидневную неделю работы Новарина, когда он с 9 до 6 публично спал в витрине парижской галереи.
    </p>
  </article>
</section>


<!--

     day 4

   -->


<section class="day">
  <a name="thu"></a>
  <header>
    <h3 class="name-of-day">
      ЧЕТВЕРГ
    </h3>
    <h3 class="date">
      21.07
    </h3>
  </header>

  <article class="long">
    <p class="time">
      10:00&nbsp;&mdash; 22:00
    </p>
    <p class="name">
      Алиса Олева. Подсаживайся
    </p>
    <p class="descr">
      Одна из скамеек Минска, следите за обновлениями
    </p>
    <p class="long-descr">
      Решить отдохнуть и подсесть к кому-то на скамейку в городском сквере – это акт невидимой невербальной коммуникации. Алиса Олева приглашает поучаствовать любого в создании ее «портрета»: любой прохожий может зафиксировать свое описание и впечатление о художнице. Описания можно написать на бумажке и подложить в сумку или постить на странице группы. Единственное правило - никаких разговоров на скамейке. «Портрет» из описаний будет опубликован.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      12:00
    </p>
    <p class="name">
      Инга Линдаренко. #660099/forest
    </p>
    <p class="descr">
      Участие по записи: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      21:00
    </p>
    <p class="name">
      Ульяна Быченкова. Пир во славу тунеядства
    </p>
    <p class="descr">
      Участие по записи: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
  </article>
</section>


<!--

     day 5

   -->


<section class="day">
  <a name="fri"></a>
  <header>
    <h3 class="name-of-day">
      ПЯТНИЦА
    </h3>
    <h3 class="date">
      22.07
    </h3>
  </header>

  <article>
    <p class="time">
      15:45
    </p>
    <p class="name">
      Группировка eeefff. Стресс-тест экономических стратегий
    </p>
    <p class="descr">
      <b>UPD! Встреча в 15:45 на станции метро Грушевка посередине платформы</b>
      <br/>
      Подробные инструкции по почте: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
    <p class="long-descr">
      В мире, где экономические воротилы воспринимают мировые процессы как игру, давайте поиграем и мы. Наш инструмент – компьютерные игры. Создадим на их базе свой собственный дивный новый мир или что-то получше, несмотря на преграды на нашем пути и воющие сирены!
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      19:00
    </p>
    <p class="name">
      Алиса Олева. я покажу тебе Минск: one-­to­-one performance
    </p>
    <p class="long-descr">
      «Сегодня тебе не надо ничего решать и даже не надо никуда смотреть. Я проведу тебя по твоему городу с завязанными глазами. Просто приди в назначенное время на место встречи, закрой глаза и дождись меня.»
    </p>
  </article>

  <hr>

  <article>
    <p class="time long">
      18:00 - 21:00
    </p>
    <p class="name">
      Василиса Полянина-Календа. Инсталляция "Скромная возможность провести время на своем месте".
    </p>
    <p class="descr">
      Просмотр по записи: +37529 1956316, +37529 6486065
      vasilisa-polianina@yandex.ru
      <br/>
      ул. Козлова, 2, ждать в арке за магазином "Океан"
    </p>
    <p class="long-descr">
      Проект о критичности восприятия отведенного на отдых времени
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      21:00
    </p>
    <p class="name">
      Алексей Толстов. Краеведческий забег
    </p>
    <p class="descr">
      Чижовка / Участие по записи: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
  </article>
</section>


<!--

     day 6

   -->


<section class="day">
  <a name="sat"></a>
  <header>
    <h3 class="name-of-day">
      СУББОТА
    </h3>
    <h3 class="date">
      23.07
    </h3>
  </header>

  <hr>

  <article>
    <p class="time long">
      10:00 – 19:00
    </p>
    <p class="name">
      Алиса Олева. Подсаживайся
    </p>
    <p class="descr">
      Одна из скамеек Минска, следите за обновлениями
    </p>
    <p class="long-descr">
      Решить отдохнуть и подсесть к кому-то на скамейку в городском сквере – это акт невидимой невербальной коммуникации. Алиса Олева приглашает поучаствовать любого в создании ее «портрета»: любой прохожий может зафиксировать свое описание и впечатление о художнице. Описания можно написать на бумажке и подложить в сумку или постить на странице группы. Единственное правило - никаких разговоров на скамейке. «Портрет» из описаний будет опубликован.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      11:00
    </p>
    <p class="name">
      Союз "НАБЛЮДЕНИЕ²" (Алексей Наумчик и Максим Сарычев). Интерактивная экскурсия "Наблюдение за новостями".
    </p>
    <p class="descr">
      Участие по записи: <a href="mailto:somep1xel@gmail.com">somep1xel@gmail.com</a> до 24:00 среды с указанием выбранной даты.
    </p>
    <p class="long-descr">
      В программе: поездка по неизвестному маршруту, интерактивное подсматривание, дискуссия на тему "слежка или наблюдение?".
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15.00
    </p>
    <p class="name">
      Лена Клабукова. Воркшоп активного отдыха «Производство нежности»
    </p>
    <p class="descr">
      Минский гипнотарий @Бюро, Фабрициуса 4
      / Вход открытый, донейшенз велком!
    </p>
    <p class="long-descr">
      Воркшоп активного отдыха «Производство нежности», на котором участники под руководством опытного гипнотизера произведут друг с другом аффективные связи.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15.00
    </p>
    <p class="name">
      Алиса Олева. я покажу тебе Минск: one-­to­-one performance
    </p>
    <p class="long-descr">
      «Сегодня тебе не надо ничего решать и даже не надо никуда смотреть. Я проведу тебя по твоему городу с завязанными глазами. Просто приди в назначенное время на место встречи, закрой глаза и дождись меня.»
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      19:30
    </p>
    <p class="name">
      Летучая кооперация. ЕСТЬ ИЛИ МОЛИТЬСЯ. Религиозно-экономический ликбез
    </p>
    <p class="descr">
      Бюро (ул. Фабрициуса, 4)
    </p>
    <p class="long-descr">
      Труд религиозной жизни? Духовные практики как альтернативная форма занятости? Экономика монашеских общин? Прибавочный продукт медитации? Летучая кооперация проведет открытый ликбез с экспертами по вопросам экономико-религиозного существования.
    </p>
  </article>
</section>


<!--

     day 7

   -->


<section class="day">
  <a name="sun"></a>
  <header>
    <h3 class="name-of-day">
      ВОСКРЕСЕНИЕ
    </h3>
    <h3 class="date">
      24.07
    </h3>
  </header>

  <article>
    <p class="time">
      16:00
    </p>
    <p class="name">
      Павел Хайло. Политические игры на свежем воздухе
    </p>
    <p class="descr">
      Образовательно-игровые антибуржуазные методики «Пролеткульта» в условиях современного Минска.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      18:00
    </p>
    <p class="name">
      Редакторское собрание
    </p>
    <p class="descr">
      Бюро (ул. Фабрициуса, 4) / Публичное мероприятие
    </p>
    <p class="long-descr">
      Собрание участников РАБОТАЙ БОЛЬШЕ! ОТДЫХАЙ БОЛЬШЕ! для обсуждения публикации по результатам недели.
    </p>
  </article>
</section>

<!--

     day 7

   -->

<section class="day whole-week">
  <a name="all-days"></a>
  <header>
    <h3 class="name-of-day">
      ВСЮ НЕДЕЛЮ
    </h3>
    <h3 class="date">
      18.07 &mdash; 24.07
    </h3>
  </header>

  <article>
    <p class="name">
      Антон Сорокин. Product Placement
    </p>
    <p class="descr">
      Участие по записи: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a> / Дедлайн: 17.07 23:55
    </p>
    <p class="long-descr">
      Участникам предложено отрефлексировать изменения, произошедшие и происходящие сегодня, в процессах слушания и восприятия музыки, конструируя процесс слушания другого.
    </p>
  </article>
</section>

<section class="day important">
  <a name="important"></a>

  <header>
    <h3 class="date">
      ВАЖНО!
    </h3>
  </header>

  <article>
    <p class="long-descr">
      Участие по записи необходимо в силу ограниченного количества участников. В теме письма, пожалуйста, указывайте название мероприятия, на которое вы хотите попасть.
    </p>
    <p class="long-descr">
      Расписание может изменяться – пожалуйста, следите за обновлениями в документе – https://docs.google.com/…/17oehwhF901LzQnuzdxP3Woe7NiLKmOE…/ и на странице мероприятия.
    </p>
  </article>
</section>
