<header>
  <h1>
    Schedule
  </h1>
  <ul class="menu">
    <li>
      <a href="#mon">Mon</a>
    </li>
    <li>
      <a href="#tue">Tue</a>
    </li>
    <li>
      <a href="#wed">Wed</a>
    </li>
    <li>
      <a href="#thu">Thu</a>
    </li>
    <li>
      <a href="#fri">Fri</a>
    </li>
    <li>
      <a href="#sat">Sat</a>
    </li>
    <li>
      <a href="#sun">Sun</a>
    </li>
  </ul>

  <ul class="menu second-line">
    <li>
      <a href="#all-days">Whole&nbsp;week</a>
    </li>
    <li>
      <a href="#important">Important</a>
    </li>
  </ul>
</header>

<section class="day">
  <a name="mon"></a>
  <header>
    <h3 class="name-of-day">
      Monday
    </h3>
    <h3 class="date">
      18.07
    </h3>
  </header>

  <article>
    <p class="time">
      15:00
    </p>
    <p class="name">
      Institutional meditation for groups
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4)
    </p>
    <p class="long-descr">
      First discussion about the role of institutions in the modes of labour and rest. The practice of “Institutional meditation for groups” has been developed by the group of artists at the Inverse Institution Workshop 2013. Held by Aleksei Borisionok.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      17:00
    </p>
    <p class="name">
      Maria Semenenko, Aleksandr Novikov. Picnic by the staircase
    </p>
    <p class="descr">
      Start: Bureau (Fabritsiusa str., 4)
    </p>
    <p class="long-descr">
      A picnic in a transit place &mdash; by the staircase of a block of flats - together with a talk about urban structure of Minsk.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      20:00
    </p>
    <p class="name">
      Concert. ТЕХНО-ПОЭЗИЯ, Masque Noir; TBA
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4) / Entrance &mdash; 7 rub
      <br/>
      https://www.facebook.com/events/304077939925142/
    </p>
  </article>
</section>


<!--


     day 2


   -->

<section class="day">
  <a name="tue"></a>
  <header>
    <h3 class="name-of-day">
      Tuesday
    </h3>
    <h3 class="date">
      19.07
    </h3>
  </header>

  <article>
    <p class="time">
      12:00
    </p>
    <p class="name">
      Alisa Oleva. I will show you Minsk: one-­to­-one performance
    </p>
    <p class="long-descr">
      “Today you don’t need to decide on anything and even to look anywhere. I will walk you through your city with your eyes closed. Just come at the appointed time to the meeting point, close your eyes and wait for me”.
    </p>

  </article>

  <hr>

  <article>
    <p class="time">
      14:00
    </p>
    <p class="name">
      eeefff. Guided tour to Wargaming / group 1
    </p>
    <p class="descr">
      Partisanski ave. 178/2 / register at: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
    <p class="long-descr">
      We invite everyone, who wants to get to the heart of Belarusian IT industry, to join a guided tour to Wargaming, a den of programmers and developers, where both taxi drivers and cleaners dream to work. We will see a 16-storied office tower, led by a professional guide. We will have 2 groups: 10-12 people each. Duration 1 hour.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15:00
    </p>
    <p class="name">
      eeefff. Guided tour to Wargaming / group 2
    </p>
    <p class="descr">
      Partisanski ave. 178/2 / register at: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      17:00
    </p>
    <p class="name">
      Mikhail Gulin. Performance “National signs”
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4)
    </p>
    <p class="long-descr">
      Performance “National signs” by Mikhail Gulin opens up a space of Belarusian everyday life between nationalism and rejection of state symbols on one hand, and loyalty to the Soviet symbolic and ideological tradition on the other.
    </p>
  </article>

  <hr>

  <article class="long">
    <p class="time">
      17:00&nbsp;&mdash; 21:00
    </p>
    <p class="name">
      Vasilisa Polianina-Kalenda. Installation.
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4)
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      19:00
    </p>
    <p class="name">
      Roman Osminkin. Lecture-performance “Poetry and labour grind one another”.
      On the change in the role of poetry conditioned by relations of production of an era.
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4)
    </p>
  </article>
</section>


<!--

     day 3

   -->


<section class="day">
  <a name="wed"></a>
  <header>
    <h3 class="name-of-day">
      Wednesday
    </h3>
    <h3 class="date">
      20.07
    </h3>
  </header>

  <article>
    <p class="time">
      13:00
    </p>
    <p class="name">
      Reading group on Manifestos of labour and laziness
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4)
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15:00
    </p>

    <p class="name">
      ick Degtyarev, Nadia Degtyareva. Practicum of distributed support. &lt;labour as unconditional activity, unconditional income as trauma&gt;
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4)
    </p>
    <p class="long-descr">
      Considering responsibility and totality of introduction of unconditional basic income for citizens in the economies of nation states, a preliminary work to stimulate the adaptation of consciousness to the new conditions, along with the work within new functional economical networks is required. One needs to learn to perceive income, fear and failure unconditionally. For such distributed and unconditional mutual aid the practicum is created.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15:00
    </p>
    <p class="name">
      Alisa Oleva. I will show you Minsk: one-­to­-one performance
    </p>
    <p class="long-descr">
      “Today you don’t need to decide on anything and even to look anywhere. I will walk you through your city with your eyes closed. Just come at the appointed time to the meeting point, close your eyes and wait for me”.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      18:00
    </p>
    <p class="name">
      Vox Studio. Workshop-walk “Visual and urban studies”
    </p>
    <p class="descr">
      Start: Bureau (Fabritsiusa str., 4) / Register at <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
    <p class="long-descr">
      At the workshop a group of participants will research, map and document urban art, found objects and street art, using the method of psychogeography.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      19.00
    </p>
    <p class="name">
      9:00
      “Virgile Sleeps”, a film by Jean&nbsp;Seban, 2013, 30 min.
      <br/>
      Screening&nbsp;+&nbsp;presetation
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4)
    </p>
    <p class="long-descr">
      French artist Virgile Novarina has been studying sleep for more than 20 years. Over that time he has developed his technique of micro-awakenings, during which he makes notes and drawings. A film by Jean Seban captures a five-day week of Novarina’s work, when he used to publically sleep in a Paris gallery showcase from 9 to 18.
    </p>
  </article>
</section>


<!--

     day 4

   -->


<section class="day">
  <a name="thu"></a>
  <header>
    <h3 class="name-of-day">
      Thursday
    </h3>
    <h3 class="date">
      21.07
    </h3>
  </header>

  <article class="long">
    <p class="time">
      10:00&nbsp;&mdash; 22:00
    </p>
    <p class="name">
      Alisa Oleva. Seat next.
    </p>
    <p class="descr">
      One of Minsk benches, TBA.
    </p>
    <p class="long-descr">
      Deciding to rest and seat next to somebody on a bench in a city park is an act of invisible non-verbal communication. Alisa Oleva invites everyone to take part in the creation of her ‘portrait’: any passer by can record their description and impressions of the artist. Descriptions could be written on a paper and put in a bag or posted on a group page. The only rule is no talking on a bench. A “portrait” made from the descriptions will be published.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      12:00
    </p>
    <p class="name">
      Inga Lindorenko. #660099/forest
    </p>
    <p class="descr">
      Register at <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      21:00
    </p>
    <p class="name">
      Uliana Bychenkova. Feast for glory of parasitism
    </p>
    <p class="descr">
      Register at <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
  </article>
</section>


<!--

     day 5

   -->


<section class="day">
  <a name="fri"></a>
  <header>
    <h3 class="name-of-day">
      Friday
    </h3>
    <h3 class="date">
      22.07
    </h3>
  </header>

  <article>
    <p class="time">
      15:45
    </p>
    <p class="name">
      Eeefff. Economic strategies stress test
    </p>
    <p class="descr">
      <b>UPD! Meeting at 15:45, Grushevka underground station, in the centre of the platform</b>
      <br/>
      Detailed instructions via email: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
    <p class="long-descr">
      In the world, where economic magnates perceive global processes as a game, why not to play as well? Our tool is computer games. On their basis we will create our own brave new world or something better, despite the barriers on our way and howling sirens!
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      19:00
    </p>
    <p class="name">
      Alisa Oleva. I will show you Minsk: one-­to­-one performance
    </p>
    <p class="long-descr">
      “Today you don’t need to decide on anything and even to look anywhere. I will walk you through your city with your eyes closed. Just come at the appointed time to the meeting point, close your eyes and wait for me”.
    </p>
  </article>

  <hr>

  <article>
    <p class="time long">
      18:00 - 21:00
    </p>
    <p class="name">
      Vasilisa Polianina-Kalenda. Installation ‘Modest opportunity to spend time in one’s place’.
    </p>
    <p class="descr">
      View by registration: +37529 1956316, +37529 6486065
      vasilisa-polianina@yandex.ru
    </p>
    <p class="long-descr">
      A project about critical perception of the time assigned to rest
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      21:00
    </p>
    <p class="name">
      Aliaxey Talstou. Regional studies race.
    </p>
    <p class="descr">
      Chizhovka / Register at <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a>
    </p>
  </article>
</section>


<!--

     day 6

   -->


<section class="day">
  <a name="sat"></a>
  <header>
    <h3 class="name-of-day">
      Saturday
    </h3>
    <h3 class="date">
      23.07
    </h3>
  </header>

  <hr>

  <article>
    <p class="time long">
      10:00 – 19:00
    </p>
    <p class="name">
      Alisa Oleva. Seat next.
    </p>
    <p class="descr">
      One of Minsk benches, TBA.
    </p>
    <p class="long-descr">
      Deciding to rest and seat next to somebody on a bench in a city park is an act of invisible non-verbal communication. Alisa Oleva invites everyone to take part in the creation of her ‘portrait’: any passer by can record their description and impressions of the artist. Descriptions could be written on a paper and put in a bag or posted on a group page. The only rule is no talking on a bench. A “portrait” made from the descriptions will be published.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      11:00
    </p>
    <p class="name">
      Union “OBSERVATION²” (Aleksei Naumchik and Maksim Sarychev). Interactive guided tour “Observing the news”.
    </p>
    <p class="descr">
      Register at <a href="mailto:somep1xel@gmail.com">somep1xel@gmail.com</a> by Wednesday.
    </p>
    <p class="long-descr">
      The programme includes: journey by the unknown route, interactive peeping, discussion “surveillance or observation?”
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15.00
    </p>
    <p class="name">
      Lena Klabukova. Active rest workshop “Production of tenderness”
    </p>
    <p class="descr">
      Minsk hipnotarium @Bureau (Fabritsiusa str., 4)
      / Free entrance, donations welcomed!
    </p>
    <p class="long-descr">
      During the active rest workshop “Production of tenderness” participants, guided by an experienced hypnotist, will produce affective ties with each other.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      15.00
    </p>
    <p class="name">
      Alisa Oleva. I will show you Minsk: one-­to­-one performance
    </p>
    <p class="long-descr">
      “Today you don’t need to decide on anything and even to look anywhere. I will walk you through your city with your eyes closed. Just come at the appointed time to the meeting point, close your eyes and wait for me”.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      19:30
    </p>
    <p class="name">
      Flying cooperation. TO EAT OR TO PRAY. Religious and economic literacy campaign
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4)
    </p>
    <p class="long-descr">
      Labour of religious life? Spiritual practices as an alternative form of employment? Economy of monastic communities? Surplus product of meditation? Flying cooperation holds open literacy campaign with experts in the issues of economic and religious existence.
    </p>
  </article>
</section>


<!--

     day 7

   -->


<section class="day">
  <a name="sun"></a>
  <header>
    <h3 class="name-of-day">
      Sunday
    </h3>
    <h3 class="date">
      24.07
    </h3>
  </header>

  <article>
    <p class="time">
      16:00
    </p>
    <p class="name">
      Pavel Khailo. Open air political games
    </p>
    <p class="descr">
      Start at Bureau (Fabritsiusa str., 4)
    </p>
    <p class="long-descr">
      Educational and play anti-bourgeois methodologies of “Proletkult” in the environment of contemporary Minsk.
    </p>
  </article>

  <hr>

  <article>
    <p class="time">
      18:00
    </p>
    <p class="name">
      Editorial meeting
    </p>
    <p class="descr">
      Bureau (Fabritsiusa str., 4) / Public event
    </p>
    <p class="long-descr">
      Meeting of WORK HARD! PLAY HARD! participants to discuss the publication on the results of the week.
    </p>
  </article>
</section>

<!--

     day 7

   -->

<section class="day whole-week">
  <a name="all-days"></a>
  <header>
    <h3 class="name-of-day">
      Whole week
    </h3>
    <h3 class="date">
      18.07 &mdash; 24.07
    </h3>
  </header>

  <article>
    <p class="name">
      Anton Sorokin. Product Placement
    </p>
    <p class="descr">
      Register at: <a href="mailto:work.hard.play.0@gmail.com">work.hard.play.0@gmail.com</a> / Deadline: 17.07 23:55
    </p>
    <p class="long-descr">
      Participants are suggested to reflect on the changes happened and still happening today in the processes of listening and experiencing the music, by constructing the process of listening of the other.
    </p>
  </article>
</section>

<section class="day important">
  <a name="important"></a>

  <header>
    <h3 class="date en">
      Important!
    </h3>
  </header>

  <article>
    <p class="long-descr">
      Registration for some events is required due to a limited number of participants. Please, state the name of the event you wish to attend in the email topic.
    </p>
    <p class="long-descr">
      Schedule is subject to change, please follow the updates in <a target="_blank" href="https://docs.google.com/document/d/17oehwhF901LzQnuzdxP3Woe7NiLKmOEezpDQ5ll52oo/edit">document</a> and on the <a target="_blank" href="https://www.facebook.com/events/1779274565686564/">facebook event page</a>
    </p>
  </article>
</section>
